<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title> Validador de CPF </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">

    <script>
        const validaCampos = function () {
            if (document.getElementById("nome").value == "") {
                document.getElementById("erro").innerHTML = "Preencha o campo nome";
                document.getElementById("nome").focus();
                document.getElementById("erro").style.display = "block";
                return false;
            }

            if (document.getElementById("cpf").value == "") {
                document.getElementById("erro").innerHTML = "Preencha o campo cpf";
                document.getElementById("erro").style.display = "block";
                document.getElementById("cpf").focus();
                return false;
            }
            return true;
        }
    </script>

</head>

<body>
    <div class="container-fluid h-100 w-100 pt-4 mt-4">
        <div class="row justify-content-center">
            <div class="p-3 text-center card">
                <h2>
                    Validador CPF
                </h2>

                <form action="/valida-cpf" method="GET" id="formulario"
                    class="d-flex flex-column justify-content-center" onsubmit="return validaCampos()">
                    <div class="row mt-2 w-100 mx-auto">
                        <div class="col-2 text-right p-0">
                            <label>
                                Nome
                            </label>
                        </div>
                        <div class="col-10">
                            <input name="nome" type="text" class="w-100 px-2" value="" id="nome"
                                placeholder="Insira seu nome" alt="Insira seu nome" />
                        </div>
                    </div>
                    <div class="row mt-2 w-100 mx-auto">
                        <div class="col-2 text-right p-0">
                            <label>
                                CPF
                            </label>
                        </div>
                        <div class="col-10">
                            <input name="cpf" type="text" class="w-100 px-2" value="" id="cpf"
                                placeholder="Digite seu CPF" maxlength="14" alt="Digite seu CPF" />
                        </div>
                    </div>

                    <br>
                    <div class="alert alert-danger" style="display: none;" id="erro" role="alert">
                    </div>
                    <br>

                    <div class="mt-2">
                        <button class="btn text-white px-3" style="background-color:darkorchid;" type="submit"
                            onclick="validar(event)">
                            Validar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>